[submodule "Scheduler"]
	path = Scheduler
	url = https://github.com/WangZhiYao/HomeSensor-Scheduler.git
[submodule "Subscriber"]
	path = Subscriber
	url = https://github.com/WangZhiYao/HomeSensor-Subscriber.git
[submodule "Controller"]
	path = Controller
	url = https://github.com/WangZhiYao/HomeSensor-Controller.git
[submodule "IoT"]
	path = IoT
	url = https://github.com/WangZhiYao/HomeSensor-IoT.git
